:root {
<<<<<<< HEAD

    
>>>>>>> a1890fa2f2a791e1102238a5734d089bf1033688

    --pancho: black;
    --pancho: yellow;
    --pamcho: red; 

    --panchito: green;
    --panchito: white;
    --panchio: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var();
    color: var();
    height: 100dvh;
}

header {
    font-size: 1.5dvh;
}

@media (max-width: 1024px) {
    body {
        font-size: 1.5dvh;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.5dvh;
    }
}

.sect-1 {
    max-height: 10dvh;
    & .gallery {
        padding: 1em;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        & .track {
            display: flex;
            gap: 2em;
            & .card {
                max-width: 90%;
                height: 50dvh;
                border: 1em groove var();
                flex: 0 0 auto;
                scroll-snap-align: start;
                & img {
                    max-width: 300px;
                    max-height: 300px;
                    border-radius: 25px;
                }
            }
        }
    }
}